/* article {
    max-width: 65ch;
    margin-inline: auto;
} */

article {
  --callout: 8rem;
  display: grid;
  grid-template-columns:
    [full-start]1fr [popout-start] var(--callout) [content]minmax(0, 65ch)
    [popout-end] var(--callout) 1fr[full-end];

  > * {
    grid-column: content;
  }

  img {
    grid-column: full;
  }

  blockquote {
    grid-column: popout;
  }
}
