---
const { cardContent } = Astro.props;
import "../styles/global.css";
---

<ul class="full-width">
  {
    cardContent.map((card) => (
      <li>
        <h3>{card.title}</h3>
        <p>{card.body}</p>
      </li>
    ))
  }
</ul>

<style>
  html {
  }
  /* ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    gap: var(--card-gap);
    padding: var(--card-padding);
    color: var(--card-text-color);
    border-radius: var(--card-border-radius);

    li {
      background-color: var(--card-background);
      padding: var(--card-padding);
      border-radius: 10px;
    }
  } */

  .full-width {
    padding-inline: max(1rem, 50% - 1200px / 2);
    scroll-snap-type: x mandatory;
  }

  ul {
    display: flex;
    gap: 1rem;
    overflow-x: auto;
    list-style: none;

    li {
      flex-basis: min(400px, 90%);
      flex-shrink: 0;
      background: #ebebeb;
      color: #595566;
      border-radius: 8px;
      font-size: 1rem;
      padding: 2.75rem 2.1875rem;
      align-self: start;

      h3 {
        font-weight: 700;
        font-size: 1.5625rem;
      }
    }
  }
  --content-width: 50rem;
</style>
